#map-container,
#map {
    height: 100%;
    width: 100%;
}

body {
    /* overflow: hidden; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    background-color: #ff0000;
    height: 100vh;
}


/* Navigation Form */

#navigation-form-container {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 14vw;
    transition: all 0.4s;
    transition-timing-function: ease-out;
}

#navigation-form-container form {
    box-shadow: 1px 0px 20px rgb(165, 165, 165);
    border-radius: 0px 8px 8px 0px;
    background-color: aliceblue;
    position: relative;
}

/* ? Vertical dotted line */
#navigation-form-container #vertical-dotted-line {
    height: 15px;
    margin-left: 18px;
    border-left: 3px dotted black;
}


/* Navigation Form Search Recommedations */
.input-recommendations {
    background: white;
    /* border-radius: 16px; */
}

.input-recommendations div {
    padding: 8px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    /* display: inline-block; */
}

.input-recommendations div:hover {
    background-color: grey;
}

.input-recommendations div p {
    margin: 0px !important;
}


/* Possible paths + when search was executed */
#possible-paths {
    background-color: aliceblue;
}

#executed-search-header {
    
}

.executed-search {
    top: 0px !important;
    height: 100% !important;
}

.executed-search-form {
    border-radius: 0px !important;
    box-shadow: none !important;
}

#close-paths {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
}

#paths-container {
}

#possible-paths .possible-path {
    border: 1px solid black;
}

.possible-path p {
    margin: 0;
}

.possible-path .path-time {
    position: absolute;
    bottom: 0px;
}


/* Timetable */
.timetable-station-highlight {
    color: red;
    background-color: black;
}


/* ? Saved destinations menu */
#saved-destinations-menu {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    background-color: aliceblue;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#saved-destinations-menu #saved-destinations-icons {
    width: 100%;
}

#saved-destinations-menu #saved-destinations-icons .col-12 {
    padding: 8px;
    position: relative;
}

#saved-destinations-menu #saved-destinations-icons .col-12 button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #e9d362;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #e9d362);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #e9d362);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    color: white;
}

#saved-destinations-menu #add-saved-destination-btn button {
    background: transparent !important;
    color: black !important;
}

#added-saved-destinations-wrapper .remove-saved-destination {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    display: none;
}

#added-saved-destinations-wrapper .col-12:hover .remove-saved-destination {
    display: block;
}

#added-saved-destinations-wrapper .col-12 .remove-saved-destination:hover {
    color: red;
    cursor: pointer;
}

/* Navbar */

#navbar {
    position: fixed;
    bottom: 40px;
}

#navbar-icons-container {
    background-color: aliceblue;
    width: 15%;
    margin: 0 auto;
    border: 1px black solid;
    border-radius: 8px;
}

#navbar #important-nav-icon {
    background-color: yellow;
    border-radius: 16px;
}

#navbar .last-icon {
    border-radius: 0px 8px 8px 0px;
}

#navbar .first-icon {
    border-radius: 8px 0px 0px 8px;
}

#navbar .navbar-icon:hover {
    background-color: rgb(222, 220, 220);
}

#navbar .navbar-icon {
    color: black;
    border: 0;
    background-color: transparent;
}


/* Explore Modal */
#explore-container {
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: rgba(3, 3, 3, 0.671)
}

#explore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 0px 20px rgb(165, 165, 165);
    padding: 10px 20px;
}

#explore-modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: transparent;
    padding: 0px;
}

#explore .explore-card {
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}

#explore .explore-card i {
    padding-right: 10px;
}

/* Other */
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

/* Spinner */
#spinner {
    position: absolute;
    background-color: #3030303a;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

#spinner * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}